In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
estados= ["Jalisco"]*4 +["Colima"]*4
estados

['Jalisco',
 'Jalisco',
 'Jalisco',
 'Jalisco',
 'Colima',
 'Colima',
 'Colima',
 'Colima']

In [4]:
años= [2000,2005,2010,2020]*2
años

[2000, 2005, 2010, 2020, 2000, 2005, 2010, 2020]

In [5]:
poblaciones= [6.32, 6.75, 7.35, 8.34] + [0.54, .57, .65, .73 ]
estados, años, poblaciones

(['Jalisco',
  'Jalisco',
  'Jalisco',
  'Jalisco',
  'Colima',
  'Colima',
  'Colima',
  'Colima'],
 [2000, 2005, 2010, 2020, 2000, 2005, 2010, 2020],
 [6.32, 6.75, 7.35, 8.34, 0.54, 0.57, 0.65, 0.73])

In [6]:
datos= {"Estado": estados, "Año": años, "Población": poblaciones}
datos

{'Estado': ['Jalisco',
  'Jalisco',
  'Jalisco',
  'Jalisco',
  'Colima',
  'Colima',
  'Colima',
  'Colima'],
 'Año': [2000, 2005, 2010, 2020, 2000, 2005, 2010, 2020],
 'Población': [6.32, 6.75, 7.35, 8.34, 0.54, 0.57, 0.65, 0.73]}

In [7]:
df1=DataFrame(datos)
df1

    Estado   Año  Población
0  Jalisco  2000       6.32
1  Jalisco  2005       6.75
2  Jalisco  2010       7.35
3  Jalisco  2020       8.34
4   Colima  2000       0.54
5   Colima  2005       0.57
6   Colima  2010       0.65
7   Colima  2020       0.73